h2.heading {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--lighter-gray-color);
}

.heading {
  .link {
    font-weight: inherit;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.codeBlock {
  color: #f8f8f2;
  background: #282a36;
  padding: 16px 24px;
  border-radius: 5px;
  overflow-x: scroll;
  word-wrap: normal;
  -webkit-overflow-scrolling: touch;
}

.table {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.screenshot {
  $width: 300px;
  $padding: $width / 397px * 24px;

  display: block;
  padding: $padding;
  margin: 0 auto 1.7rem;
  box-sizing: border-box;
  background-image: url(./frame-xs-max.png);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  width: $width;
  font-size: 0;

  &.top {
    padding-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  &.bottom {
    padding-top: 0;
    border-top: 1px solid #e6e6e6;
    background-position: bottom;
  }

  img {
    position: relative;
    width: 100%;
    z-index: -1;
  }
}
