.container {
  width: 100%;
  margin-top: 64px;
  padding-top: 6px;

  background: var(--pink-color);
  background: -webkit-linear-gradient(to right, var(--pink-color), var(--aqua-color));
  background: linear-gradient(to right, var(--pink-color), var(--aqua-color));
  color: var(--white-color);
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 16px;
  background: var(--shadow-color);
  text-align: center;
}

.link {
  color: var(--white-color);
}
