$height: 510px;
$padding: 8px;

.container {
  position: relative;
  height: $height + 2 * $padding;
  margin-bottom: 1.7rem;

  :global .CodeMirror {
    height: $height + 2 * $padding;
    border-radius: 5px;
    padding: $padding;
  }
}

.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
